<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> <img src="http://bigramyweb.inovaeg.com/static/media/main-logo.d37fd44b1dd3dfb263bfdd977c7cef90.svg" alt="Schoology"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#"  role="button">Sign in or sign up  </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<header class="main-header">
  <div class="main-brand" >
      <a  href="#" class="main-brand__header">
        <img src="http://bigramyweb.inovaeg.com/static/media/main-logo.d37fd44b1dd3dfb263bfdd977c7cef90.svg" alt="bigRamy">
      </a>
  </div>
  <nav class="main-nav">
      <ul class="main-nav__items" >
          <li class="main-nav__item">
              <a href="#">Sign in  or Sign up</a>
          </li>
      </ul>
  </nav>
</header>
