<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">

    <h5 class="card-title title ">Topic 2</h5>
    <h2 class=" title-name">blog 8</h2>

  </div>
</div> -->
<body>

  <h1> Latest News</h1>
  <a routerLink="/news">
    <div class="card">

      <div class="image" >

        <img src="https://bigramy.s3.eu-central-1.amazonaws.com/development/VYc_71IhkObHdog_SUsz1w_1667904378.webp" width="100%" alt="" />

      </div>

      <div class="card-footer" >

        <span class="catagory"> title 2</span>

        <div class="readme-creator">

          <div class="name"> blog 8 </div>

        </div>

      </div>

    </div>
  </a>
<router-outlet></router-outlet>
</body>

