<!-- <main id="About">

    <div class="img">
      <img src="http://bigramyweb.inovaeg.com/static/media/aboutus.8ae63624a484eab5f6b7.webp" alt="bigRamy">
    </div>
    <div class="desc">
      <h2> About Us</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, doloribus vitae soluta facere, iusto
        velit.</p>
    </div>


</main> -->
<main id="About">
<div class="container">
  <img src="http://bigramyweb.inovaeg.com/static/media/aboutus.8ae63624a484eab5f6b7.webp" alt="bigRamy">
  <div class="centered">
    <h1>About us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad aspernatur maxime corporis reprehenderit quos voluptatem facere
    </p>
  </div>
</div>
</main>
