<!-- <div class="about-gym">

<button class="btn btn-primary col-md-1 col-sm-offset-1 col-md-offset-5">
  <a href="#About">About</a>
</button>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
     <router-outlet> </router-outlet>
  </div>
</div>
</div> -->

<div class="about-nav">
  <img src="http://bigramyweb.inovaeg.com/static/media/banner.5d002eef3c2ca31636eb.webp" alt="big ramy">
  <button class="btn">
    <a href="#About">About</a>
  </button>
</div>
